export DBT_USER=dbt
export DBT_PASSWORD=dbtPassword123
export DBT_ROLE=TRANSFORM
export SNOWFLAKE_USER=
export SNOWFLAKE_PASSWORD=
export SNOWFLAKE_ROLE=ACCOUNTADMIN
export SNOWFLAKE_ACCOUNT=
export SNOWFLAKE_DATABASE=atp_tour
export SNOWFLAKE_SCHEMA=raw
export SNOWFLAKE_WAREHOUSE=COMPUTE_WH
export SNOWFLAKE_STAGE=dbt_artifacts